<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="" />
        <directoryBrowse enabled="true" />
        <httpProtocol>
            <customHeaders>
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                <add name="Cross-Origin-Opener-Policy" value="same-origin-allow-popups" />
                <add name="Permissions-Policy" value="geolocation=(), microphone=(), camera=()" />
            </customHeaders>
        </httpProtocol>
	<rewrite>  
    	  <outboundRules>  
      	    <rule name="Use only secure cookies" preCondition="Unsecured cookie">  
              <match serverVariable="RESPONSE_SET_COOKIE" pattern=".*" negate="false" />  
              <action type="Rewrite" value="{R:0} secure;" />  
            </rule>  
            <preConditions>  
              <preCondition name="Unsecured cookie">  
                <add input="{RESPONSE_SET_COOKIE}" pattern="." />  
                <add input="{RESPONSE_SET_COOKIE}" pattern=" secure;" negate="true" />  
              </preCondition>  
            </preConditions>  
          </outboundRules>  
        </rewrite> 
    </system.webServer>
</configuration>
