.nav-item.collapse-open.active .nav-collapse-item{
    background: none;
}
.nav-item.collapse-open.active .nav-collapse-item:hover{
    background:  rgba(64, 84, 112, 0.1);
}
#change-pw{
    background: rgba(86, 196, 197, 0.3);
}
h3{
    font-size: 1.35vw;
    line-height: 1.35vw;
}
h4{
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.2vw;
    color:black;
}
.reset-form {
    padding:2.5rem 2rem;
    width: 65vw;
    min-height: 48vh;
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    border-radius: 20px;
    z-index: 10;
}
.reset-icon{
    width: 9.5vw;
    padding:0 1vw 1vw;
}
.input-group {
    width: 90%;
    position: relative;
    margin: 1.4vw auto;
}
.input-group input {
    background: none;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 0.9vw 1.1vw;
    width: 100%;
    font-family: Montserrat;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.7vw;
}
::placeholder {
    color: #c4c4c4;
}
.input-group img {
    position: absolute;
    width: 1.7vw;
    top: 50%;
    right: 1.1vw;
    transform: translateY(-50%);
    cursor: pointer;
}
#B1 {
    width: 90%;
    margin: 0.95vw 0 0;
    border-radius: 20px;
    border: none;
    color: white;
    background: #405470;
    padding: 0.85vw 1.1vw;
    font-family: Montserrat;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.7vw;
}
.error-text {
    position: absolute;
    left: 0.5vw;
    opacity: 0;
    color: #e63876;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 1.1vw;
}
.error-text.active {
    opacity: 1;
}
.forget-pass {
    margin-top: 0.3vw;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.2vw;
    color:#e63876;
    text-decoration: underline;
    cursor:pointer;
}
.pass-req {
    width: 90%;
    margin: 0.6vw 0;
}
.pass-req p {
    color: #939393;
    text-align: left;
    font-size: 0.95vw;
    margin: 0.25vw 0;
}
.req-groups {
    display: flex;
    justify-content: space-around;
}
.req-group h5,
.req-group p {
    font-size: 1.05vw;
    font-weight: 500;
    margin: 0;
}
.req-group p {
    font-size: 1vw;
    font-weight: 400;
}
.inactive {
    display: none !important;
}
.popup {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 40%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.popup-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 30px;
    width: 32vw;
    min-height: 32vh;
    padding:2.5vw 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popup-dialog img{
    width: 4.5vw;
}
.popup-dialog h4{
    font-size: 1.6vw;
    font-weight: 600;
    line-height: 2.3vw;
    text-align: center;
    color:#405470;
    margin: 1.7vw 0 0;
}
.popup button{
    margin-top:1.7vw;
    padding: 0.25vw 2.2vw;
    min-width: 1vw;
    color: white;
    background: #4DCEC9;
    border-radius: 40px;
    border: none;
    font-size: 1.6vw;
    font-weight: 700;
    line-height: 2.7vw;
}
@media screen and (max-width: 1440px) {
    html {
        font-size: 14px;
    }
}
@media screen and (max-width: 1000px) {
    html {
        font-size: 14px;
    }
    .logo {
        width: 15rem;
        margin: 1rem;
    }
    .pink-bg-text {
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        line-height: 1.75rem;
        margin-top: 0;
    }
    h1 {
        font-size: 2.8rem;
        line-height: 3.2rem;
        margin: 1.8rem 0;
        padding: 0 1rem;
    }
    h2{
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
    h4{
        font-size:1rem;
        line-height:1rem;
    }
    .login-form {
        width: 80vw;
        min-height: unset;
    }
    .input-group{
        width: 100%;
    }
    .input-group input {
        padding: 0.5rem 0.7rem;
        font-size: 1rem;
        line-height: 1.3rem;
        margin: 0.5rem 0;
    }
    .input-group img {
        width: 1.5rem;
        right: 0.5rem;
    }
    #B1 {
        width: 100%;
        padding: 0.5rem 0.7rem;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-top: 0.7rem;
    }
    .pass-req p{
	font-size:0.9rem;
	margin:0.2rem 0;
    }
    .req-groups{
	flex-wrap:wrap;
	gap:2%;
    }
    .req-group{
	margin:0.5rem 0;
    }
    .req-group h5{
	font-size:1rem;
    }
    .reset-icon{
	width:5rem;
    }
    .error-text {
        font-size: 0.9rem;
        line-height: 0.9rem;
    }
    .error-text.active {
        opacity: 1;
    }
    .forget-pass {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        line-height: 0.9rem;
    }
}
@media screen and (max-width: 540px) {
    html {
        font-size: 14px;
    }
    .bg2 {
        display: none;
    }
    .logo {
        width: 10rem;
        margin: 0 auto 3.5rem;
    }
    .pink-bg-text {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        line-height: 1.25rem;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h1 {
        font-size: 1.7rem;
        line-height: 2.5rem;
        margin: 1.5rem 0 1.5rem;
        padding: 0 1rem;
    }
    h2,h3{
        font-size: 1.3rem;
        line-height: 2.2rem;
    }
    h4{
        font-size:0.9rem;
        line-height:1rem;
    }
    .reset-form {
        width: 90vw;
        min-height: unset;
    }
    .input-group{
        width: 100%;
    }
    .input-group input {
        padding: 0.5rem 0.7rem;
        font-size: 0.9rem;
        line-height: 1.3rem;
        margin: 0.5rem 0;
    }
    .input-group img {
        width: 1.2rem;
        right: 0.5rem;
    }
    .reset-btn {
        width: 100%;
        padding: 0.5rem 0.7rem;
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin-top: 0.7rem;
    }
    .error-text {
        font-size: 0.8rem;
        line-height: 0.9rem;
    }
    .error-text.active {
        opacity: 1;
    }
    .forget-pass {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        line-height: 0.9rem;
    }
}

@media screen and (max-width: 300px) {
    h1 {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}
