@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}
html {
    font-size: 16px;
}
body {
    background: transparent;
    font-family: "Montserrat";
    height: 100vh;
}
.bg-wrapper {
    background: #405470;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    z-index: -1;
}
.bg4 img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-30%);
    width: 100vw;
}
.content {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    padding: 0 1rem;
}
.logo {
    width: 13vw;
    height: auto;
    margin-top: 5vh;
}
.pink-bg-text {
    display: inline-block;
    padding: 0.7vw 1.3vw;
    margin: 3vh 0 0;
    border-radius: 15px;
    font-size: 1.2vw;
    font-weight: 500;
    line-height: 1.2vw;
    background-color: #e63876;
    color: white;
}
h1 {
    font-size: 3vw;
    font-weight: 400;
    line-height: 3.5vw;
    color: white;
    margin: 2.5vh 0;
}
h2{
    font-size: 1.9vw;
    font-style: italic;
    font-weight: 600;
    line-height: 2.3vw;
    margin-bottom: 3.5vh;
    color:white;
}
h2 span{
    border-bottom: 6px solid #e63876;
}
h4{
    font-size: 1vw;
    font-weight: 400;
    line-height: 1vw;
    color:black;
}

.login-form {
    padding: 2rem;
    width: 50vw;
    min-height: 48vh;
    max-width: 90vw;
    margin: 0 auto 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    border-radius: 20px;
    z-index: 10;
}
.input-group {
    width: 90%;
    position: relative;
    margin: 1.2vw 0;
}
.input-group input {
    background: none;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 0.8vw 1vw;
    width: 100%;
    font-family: Montserrat;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.5vw;
}
::placeholder {
    color: #c4c4c4;
}
.input-group img {
    position: absolute;
    width: 1.5vw;
    top: 50%;
    right: 1vw;
    transform: translateY(-50%);
    cursor: pointer;
}
.login-btn {
    width: 90%;
    margin: 1.2vw 0;
    border-radius: 15px;
    border: none;
    color: white;
    background: #405470;
    padding: 0.8vw 1vw;
    font-family: Montserrat;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 1.5vw;
}
.error-text {
    opacity: 0;
    color: #e63876;
    font-size: 1vw;
    font-style: italic;
    font-weight: 400;
    line-height: 1.2vw;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 1.5vh;
    
}
.error-text.active {
    opacity: 1;
}
.forget-pass {
    margin-top: 0.3vw;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1vw;
    color:#e63876;
    text-decoration: underline;
    cursor:pointer;
}
.pass-req {
    width: 90%;
}
.pass-req p {
    color: #939393;
    text-align: left;
    font-size: 0.8vw;
}
.inactive {
    display: none !important;
}
.hr-group {
    position: absolute;
    bottom: 25%;
    left: 0;
    z-index: -1;
}
hr {
    height: 0.7vw;
    width: 100vw;
    background: #e63876;
    border: none;
}
.num {
    position: absolute;
    left: 8vw;
    top: 50%;
    transform: translateY(-50%);
    width: 3.2vw;
    height: 3.2vw;
    background: #e63876;
    color: white;
    border-radius: 50%;
    font-size: 1.8vw;
    font-weight: 700;
    line-height: 3vw;
    text-align: center;
}
@media screen and (max-width: 1440px) {
    html {
        font-size: 14px;
    }
}
@media screen and (max-width: 1000px) {
    html {
        font-size: 14px;
    }
    .logo {
        width: 16vw !important;
        margin: 1rem;
    }
    .pink-bg-text {
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        line-height: 1.75rem;
        margin-top: 0;
    }
    h1 {
        font-size: 2.8rem;
        line-height: 3.2rem;
        margin: 1.8rem 0;
        padding: 0 1rem;
    }
    h2{
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
    h4{
        font-size:1rem;
        line-height:1rem;
    }
    .login-form {
        width: 80vw;
        min-height: unset;
    }
    .input-group{
        width: 100%;
    }
    .input-group input {
        padding: 0.5rem 0.7rem;
        font-size: 1rem;
        line-height: 1.3rem;
        margin: 0.5rem 0;
    }
    .input-group img {
        width: 1.5rem;
        right: 0.5rem;
    }
    .login-btn {
        width: 100%;
        padding: 0.5rem 0.7rem;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-top: 0.7rem;
    }
    .error-text {
        font-size: 0.9rem;
        line-height: 0.9rem;
    }
    .error-text.active {
        opacity: 1;
    }
    .forget-pass {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        line-height: 0.9rem;
    }
}
@media screen and (max-width: 540px) {
    html {
        font-size: 14px;
    }
    .bg2 {
        display: none;
    }
    .logo {
        width: 10rem !important;
        margin: 4.5rem 3.6rem 1.3rem;
    }
    .pink-bg-text {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        line-height: 1.25rem;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h1 {
        font-size: 1.7rem;
        line-height: 2.5rem;
        margin: 1.5rem 0 1.5rem;
        padding: 0 1rem;
    }
    h2{
        font-size: 1.3rem;
        line-height: 2.2rem;
    }
    h4{
        font-size:0.9rem;
        line-height:1rem;
    }
    .login-form {
        width: 90vw;
        min-height: unset;
    }
    .input-group{
        width: 100%;
    }
    .input-group input {
        padding: 0.5rem 0.7rem;
        font-size: 0.9rem;
        line-height: 1.3rem;
        margin: 0.5rem 0;
    }
    .input-group img {
        width: 1.2rem;
        right: 0.5rem;
    }
    .login-btn {
        width: 100%;
        padding: 0.5rem 0.7rem;
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin-top: 0.7rem;
    }
    .error-text {
        font-size: 0.8rem;
        line-height: 0.9rem;
    }
    .error-text.active {
        opacity: 1;
    }
    .forget-pass {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        line-height: 0.9rem;
    }
}

@media screen and (max-width: 300px) {
    h1 {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}
