h1 {
    font-size: 3vw;
    font-weight: 400;
    line-height: 3.5vw;
    color: white;
    margin: 3vw 0 3.5vw;
    text-align: center;
}
h1 span {
    color: #e63876;
    font-weight: 700;
}
.green-btn {
    padding: 0 1.5vw;
    height: 3.37vw;
    color: white;
    background: #4dcec9;
    border-radius: 2.5rem;
    border: none;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 3.3vw;
}
.inactive {
    display: none !important;
}
.hr-group {
    position: absolute;
    bottom: 25%;
    left: 0;
    z-index: -1;
}
hr {
    height: 0.8vw;
    width: 100vw;
    background: #e63876;
    border: none;
}
.lab-compare {
    display: flex;
    justify-content: end;
    gap:3vw;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    margin: 3.75vw auto 0;
}
.lab-compare .lab {
    width: 43%;
    height: 20vw;
    max-width: 90vw;
    position: relative;
    text-align: left;
    background: white;
    border-radius: 20px;
    padding: 2.1vw;
}
.lab .lab-type {
    position: absolute;
    top: -3rem;
    font-size: 1vw;
    font-weight: 500;
    line-height: 1.2vw;
    background: #E63876;
    color:white;
    padding:0.3vw 0.8vw

}
.lab-type.left {
    left: 1rem;
}

.lab-type.right {
    right: 1rem;
}
.lab-result {
    height: 15vw;
    overflow-y: auto;
}
.lab-result p {
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 1.8vw;
    margin: 0.5vw;
}
/* width */
.lab-result::-webkit-scrollbar {
    width: 0.7vw;
}

/* Track */
.lab-result::-webkit-scrollbar-track {
    background: #d9d9d9;
    border-radius: 20px;
}

/* Handle */
.lab-result::-webkit-scrollbar-thumb {
    background: #a2a4b9;
    border-radius: 20px;
}

/* Handle on hover */
.lab-result::-webkit-scrollbar-thumb:hover {
    background: #a2a4b9;
}

.num {
    position: absolute;
    left: 5vw;
    top: 50%;
    transform: translateY(-50%);
    width: 3.2vw;
    height: 3.2vw;
    background: #e63876;
    color: white;
    border-radius: 50%;
    font-size: 1.8vw;
    font-weight: 700;
    line-height: 3vw;
    text-align: center;
}
.mobile-active{
    display: none;
}
@media screen and (max-width: 1440px) {
    html {
        font-size: 14px;
    }
}
@media screen and (max-width: 1000px) {
    html {
        font-size: 14px;
    }
    .pink-bg-text {
        font-size: 1.3625rem;
        padding: 0.325rem 0.625rem;
        line-height: 1.75rem;
        margin-top: 0;
    }
    .logo{
        width: 15vw;
    }
    h1 {
        font-size: 2.2rem;
        line-height: 3.2rem;
        margin: 2.2rem 0 2.5rem;
        padding: 0 1rem;
    }
    .green-btn {
        padding: 0 1.5625rem;
        height: 3.375rem;
        font-size: 1.5625rem;
        line-height: 3.375rem;
    }
    .lab-compare {
        margin: 3.75rem auto 0;
    }
    .lab-compare .lab {
        height: 20rem;
        width: 46%;
        padding: 1.1875rem;
    }
    .lab-result {
        height: 15.625rem;
    }
    .lab-result p {
        font-size: 1.2rem;
        line-height: 1.875rem;
    }
    /* width */
    .lab-result::-webkit-scrollbar {
        width: 0.8rem;
    }
    .side-nav.nav-close{
        width: 10vw;
    }
    .side-nav.nav-close + .main-field{
        width: 90vw;
    }
    .side-nav.nav-close .profile{
        width: 4vw;
    }
    .main-field{
        width: 80vw;
    }
    .side-nav{
        width: 30vw;
    }
    .profile{
        width: 5.5vw;
    }
    h3{
        font-size: 1.2vw;
        line-height: 1.4vw;
    }
    .location{
        font-size: 1vw;
    }
    .plan{
        font-size: 1vw;
        line-height: 1.2vw;
    }
    .nav-items{
        margin-top: calc(6.5vh - 1vw);
    }
    .nav-item{
        gap: 1.2vw;
        padding: 0.8vw 2vw;
        margin: 0.4vw 0;
    }
    .nav-collapse-item{
        gap: 1.2vw;
        padding:0.8vw 2vw;
    }
    .nav-collapse-btn{
        gap:0.85vw;
    }
    .nav-collapse-field{
        padding: 0.8vw 0 0.8vw 5.3vw;
        font-size: 1.3vw;
        line-height: 1.5vw;
    }
    .nav-item .nav-collapse-btn img{
        width: 1vw;
    }
    .nav-item img{
        width: 1.2rem;
    }
    .nav-item:last-child img{
        width: 1.2rem;
    }
    .nav-item p{
        font-size: 1.3vw;
        line-height: 1.5vw;
    }
    .nav-item.active p{
        color: #384A62;
    }
    .nav-footer{
        position: absolute;
        bottom: 3vh;
        width: 100%;
    }
    .nav-footer {
        font-size: 1.3vw;
        line-height: 1.5vw;
    }
    .logout{
        gap:1vw;
    }
    .logout img{
        width: 1.5vw;
    }
    .collapseBtn img{
        width: 2.9vw;
    }
    .lab .lab-type{
        font-size: 1rem;
        padding:0.4rem 0.5rem;
    }
    .num{
        left:2vw;
    }
    .side-nav.nav-close + .main-field .num{
        left:3vw;
    }
}
@media screen and (max-width: 540px) {
    html {
        font-size: 14px;
    }
    .bg2 {
        display: none;
    }
    .content {
        overflow-y: auto;
        display: unset;
    }
    .side-nav .logo {
        width: 10rem;
        margin-top: 3.5rem;
    }
    .logo {
        width: 10rem;
        margin: 3.5rem;
        margin: 0 auto;
    }
    .pink-bg-text {
        font-size: 1.2rem;
        line-height: 1.25rem;
        padding:0.8rem 1.2rem;
        position: unset;
        display: inline-block;
        margin: 2rem 0 1rem;
    }
    .profile{
        width: 4rem;
        margin: 3rem 0 0;
    }
    h1 {
        font-size: 1.5rem;
        line-height: 2.2rem;
        margin: 2.2rem 0 2.5rem;
        padding: 0 1rem;
    }
    h1 br {
        display: none;
    }
    h2 {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
    .main-field{
        width: 100%;
        position: unset;
        overflow-y: auto;
        height: 100vh;
        padding: 3rem 0;
    }
    .hr-group {
        display: none;
    }
    .green-btn {
        font-size: 1.1rem;
        line-height: 2.7rem;
        height: 2.7rem;
    }
    .lab-compare {
        margin-top: 0;
    }
    .lab-compare .lab {
        width: 90vw;
        margin-top: 4rem;
        padding:1.3rem;
    }
    .lab-type.right {
        left: 1rem;
        right: unset;
    }
    .lab-result p {
        font-size: 1.4rem;
    }
    .lab-result::-webkit-scrollbar {
        width: 0.5rem;
    }
    .lab .lab-type {
        top: -2.8rem;
    }
    .mobile-active{
        display: block;
    }
    .nav-toggle,.close-nav{
        position: absolute;
        font-size: 2.2rem;
        top:2rem;
        right:5%;
    }
    .close-nav{
        width: 1.5rem;
    }
    .side-nav{
        width: 100%;
        display: none;
        transition: all 0.3s ease;
    }
    .side-nav.nav-open + .main-field{
        display: none;
    }
    .side-nav.nav-open{
        display: block;
        border-radius: 0;
    }
    
    h3{
        font-size: 1.2rem;
        line-height: 1.2rem;
        margin: 1.8rem 0 0.5rem;
    }
    .location{
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .plan{
        font-size: 1.05rem;
        line-height: 1rem;
        color:#e63876;
        margin-top: 1rem;
    }
    .nav-items{
        margin-top: 4rem;
    }
    .nav-item{
        gap: 1rem;
        padding: 0.6rem 1.6rem;
        margin: 0.3rem 0;
    }
    .nav-collapse-item{
        gap: 1rem;
        padding:0.6rem 1.6rem;
    }
    .nav-collapse-btn{
        gap:0.7rem;
    }
    .nav-collapse-field{
        padding: 0.6rem 0 0.6rem 4.2rem;
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
    .nav-item .nav-collapse-btn img{
        width: 0.8rem;
    }
    .nav-item img{
        width: 1.5rem;
    }
    .nav-item:last-child img{
        width: 1.4rem;
    }
    .nav-item p{
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
    .nav-footer{
        bottom: 3rem;
    }
    .nav-footer {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .logout{
        gap:0.8rem;
        margin-bottom: 2rem;
    }
    .logout img{
        width: 1.2rem;
    }
    .collapseBtn img{
        width: 2.3rem;
        display: none;
    }
    .lab .lab-type{
        font-size: 1rem;
        padding:0.7rem 1rem;
    }
}
@media screen and (max-width: 380px) {
    h1{
        margin: 1.5rem 0;
    }
    .pink-bg-text {
        margin: 1rem 0 0;
    }
    .nav-items{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 300px) {
    html{
        font-size: 12px;
    }
    h1 {
        font-size: 1.6rem;
        line-height: 2rem;
    }
    .green-btn {
        font-size: 1.2rem;
    }
}
