body {
    font-family: Montserrat;
    width: 100vw;
    height: 100vh;
  
}
.bg-wrapper {
    background: #405470;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    z-index: -1;
}
.bg4 img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-30%);
    width: 100vw;
}
.container {
    text-align: center;
    width: 100%;
    height: 100vh;
     justify-content: center;
    align-items: center;
    display:flex;
    overflow: hidden;
    flex-direction: column;

}

.back-link {
    color:#ffffff;
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: underline;
    font-size: 18px;
    font-weight:500;
    margin-bottom: 10px;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px 100px;
    width:790px;
    height:500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    display:flex;
    flex-direction: column;	
    margin:15px;
    justify-content: space-evenly;
}

.logo{
    width: 200px;
    height: 75px;
    margin-bottom: 3px;
    margin-top: 45px;
}
.lock-img{
     width:145px;
    height: 120px;   
}
h4 {
    color:#000000;
    font-size: 18px;
    margin-bottom: 20px;
    text-align:center;
    margin: 0vw 0 0vw;
    font-weight:500;
}

.input-group {
    width: 100%;
    position: relative;
    margin: 1.2vw 0;
}

input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.input-group input {
     background: none;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 12px 1vw;
    width: 100%;
    font-family: Montserrat;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.5vw;
}
.input-group img {
    position: absolute;
    width: 1.5vw;
    top: 50%;
    right: 1vw;
    transform: translateY(-50%);
    cursor: pointer;
}
::placeholder {
    color: #c4c4c4;
}

.password-instructions {
    font-size: 14px;
    color:#555
    margin-bottom: 10px;
}

.password-hints {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.password-hints span {
    font-size: 12px;
    color:#000000;
}

.continue-btn {
    background-color: #314a6d;
    color: white;
    border: none;
    padding: 15px;
    width: 50%;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.error-text {
    color: #e63876;
    font-size: 1vw;
    font-style: italic;
    font-weight: 400;
    line-height: 1.2vw;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 1.5vh;
    
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
}
.footer-span{
    text-decoration: underline;
}
